POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
JWT_SECRET=change-me-very-long
SECRET_KEY_BASE=change-me-very-long

ANON_KEY=change-me
SERVICE_ROLE_KEY=change-me

SITE_URL=http://localhost:3000

DB_PORT=5432
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443
STUDIO_PORT=54323

FILE_SIZE_LIMIT=209715200
